apiVersion: apps/v1
kind: Deployment
metadata:
  name: tic-tac-toe-web
  namespace: tic-tac-toe
spec:
  replicas: 1
  selector:
    matchLabels:
      app: tic-tac-toe-web
  template:
    metadata:
      labels:
        app: tic-tac-toe-web
    spec:
      containers:
        - name: web
          image: tic_tac_toe_web:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8000
          env:
            - name: MYSQL_HOST
              value: mysql
            - name: MYSQL_DB
              valueFrom:
                secretKeyRef:
                  name: mysql-secret
                  key: MYSQL_DATABASE
            - name: MYSQL_USER
              valueFrom:
                secretKeyRef:
                  name: mysql-secret
                  key: MYSQL_USER
            - name: MYSQL_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mysql-secret
                  key: MYSQL_PASSWORD
          readinessProbe:
            httpGet:
              path: /
              port: 8000
            initialDelaySeconds: 5
            periodSeconds: 5

---
apiVersion: v1
kind: Service
metadata:
  name: tic-tac-toe-web
  namespace: tic-tac-toe
spec:
  type: ClusterIP
  selector:
    app: tic-tac-toe-web
  ports:
    - port: 8000
      targetPort: 8000
